#!/usr/bin/env xdg-open
[Desktop Entry]
Name=CuteSeCo Developer
Icon=CuteSeCoDeveloper
Version=
Type=Application
GenericName=Coorporation
Comment=Cute Secure Coorporation
Comment[de]=vertrauliche Zusammenarbeit
Categories=Network;InstantMessaging;
Keywords=chat;messaging;im;
StartupNotify=true
Terminal=true
Encoding=UTF-8
Exec=
Path=
